<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />

      <authentication mode="Forms">
        <forms loginUrl ="Home.aspx" defaultUrl="Index.aspx">
          <!--<credentials passwordFormat="Clear">
            <user name="abhi" password="abhishek"/>
          </credentials>-->
        </forms>
      </authentication>
    
    
      <authorization>
        <deny users ="?"/>
      </authorization>
      
    </system.web>
  <connectionStrings>
    <add name="abhi" 
         connectionString = "data source=.; database= sample; integrated security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
      <defaultDocument>
        <files>
          <add value="home.html" />
        </files>
      </defaultDocument>

    </system.webServer>

</configuration>
